<a href="https://colab.research.google.com/github/OlaFowler/PythonPrograms/blob/master/An_example_of_Accessing_Columns_in_Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
d={'Mouse':[150,200,300,400],
   'Keyboard':[180,200,190,300],
   'Scanner':[200,280,330,450]}

In [22]:
df=pd.DataFrame(d,index=['Jan','Feb','March','April'])

In [23]:
# Write code to access data of Mouse and Scanner columns.
df[['Mouse', 'Scanner']]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [24]:
# Write code to access data of the Keyboard column using dot notation and column name.

df.Keyboard

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

In [25]:
# Write code to access data of scanners using loc[].

df.loc[:,'Scanner']

Jan      200
Feb      280
March    330
April    450
Name: Scanner, dtype: int64

In [26]:
# Write code to access data of all columns where mouse data is more than 200.

d = df[df.Mouse > 200]
d

       Mouse  Keyboard  Scanner
March    300       190      330
April    400       300      450

In [27]:
# Write code to access columns using 0 and 2.

df.iloc[:,[0,2]]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [28]:
# Write code to access data of rows of jan and march for scanner and keyboard

df.loc[['Jan', 'March'],['Scanner', 'Keyboard']]

       Scanner  Keyboard
Jan        200       180
March      330       190