<a href="https://colab.research.google.com/github/OlaFowler/PythonPrograms/blob/master/Exercise1_Group1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1 Given two integer numbers. If any of the numbers are greater than 50 return t
number1=20
number2=40
if (number1 and number2 > 50):
  print("true")
print("false")

false
True
1
2
3
4
5
6
7
8
9

In [ ]:
#Q2 Given a list of numbers, return True if first and last number of a list is same
list=[1,2,5,4,1]
list1=[1,2,5,4,1]
if ((list[-1] == list1[-1]) and (list[0] == list1[0])):
   print('True')
else: 
    print('False')

In [ ]:
#Q3 Given a range of the first 10 numbers[1:10], Iterate from the start number to last number 
#and In each iteration print the sum of the current number and previous number
x = range(1, 10)
iSum = 0
for n in x:
  iSum = iSum + n
  print(n, iSum)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45

In [ ]:
#Q4 Given a string name, display only those characters which are present at an even
name="NPowerCanada"
print(name [::2])

NoeCnd

In [ ]:
#Q5 Given a string oldString and an integer number n,
#remove characters from a string starting from zero up to n and return a newStrin
oldString="PythonCourse"
n=6
newString = oldString.replace(oldString[:n],'')
print(newString)

Course

In [ ]:
#Q6 Print the follwoing pattern
#*
#**
#***
#****
for i in range(1,5):
  print('*'* i)

*
**
***
****

In [ ]:
#Q7 Reverse the following list using for loop
list1=[90,70,50,60]
# Reverse a Python list with a for loop
reversed_list = []
for item in list1:
    reversed_list = [item] + reversed_list

print(reversed_list)

[60, 50, 70, 90]

In [ ]:
#Q8 Display numbers from -10 to -1 using for loop [hint use range method]
for n in range(-10, 0):
	print(n)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1