<a href="https://colab.research.google.com/github/OlaFowler/PythonPrograms/blob/master/Python_Exercise_on_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1 Write Python function that takes two inputs
#and return their sum value
x = int(input('Insert first number: '))
y = int(input('Insert second number: '))
def sum(num1, num2):
  return num1+num2
print(sum(x,y))

Insert first number15
Insert second number32
47

In [ ]:
#Q2 Write Python function the takes a celsius temprature
#and converts it into fahrenheit
x = int(input('Insert Temperature in degree celsius: '))

def fahrenheit(celsius):
  return (celsius * 1.8000) + 32
print(fahrenheit(x))

Insert Temperature in degree celsius: -20
-4.0

In [ ]:
#Q3 Write a Python function to find the Max of three numbers
x = int(input('Insert first number: '))
y = int(input('Insert second number: '))
z = int(input('Insert third number: '))

def calcmax(A,B,C):
  return max(A,B,C)

print(calcmax(x,y,z))

Insert first number: 20
Insert second number: 24
Insert third number: 35
35

In [ ]:
#Q4 Write a Python function to check whether a number
#is in a given range [5,12]

x = int(input('Insert the number to check: '))

def inRange(number):
	if number in range(5, 12):
		return True
	else:
		return False
        
print(inRange(9))

Insert the number to check: 8
True

In [ ]:
#Q5 Write a Python function that takes a list
#and returns a new list with unique elements of the first
Sample_List = [1,2,3,3,3,3,4,5]
list1 = []
def unique1(i):
  for a in i:
    if a not in list1:
      list1.append(a)
  return list1
print(unique1(Sample_List))

[1, 2, 3, 4, 5]

In [ ]:
#Q6 Given a list of numbers, return True if first
#and last number of a list is same
list1=[1,2,5,4,1]
list2=[5,6,3,2,1]
list3=[88,44,55,66,77,88]
def numTest(list):
  if (list[-1] == list[0]):
    return True
  else:      
    return False

print(numTest(list3))
print(numTest(list2))
print(numTest(list1))

True
False
True